@model HK.Models.Container

@{
    ViewBag.Title = "Create";
}

<div id="CreateContainerForm">
    @using (Ajax.BeginForm("Create", new AjaxOptions { OnSuccess = "RefreshData", UpdateTargetId = "CreateEditContainer" }))
    {
        @Html.Partial("~/Views/Containers/Fields.cshtml")
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    }
</div>