@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Import Manager</h1>
    <p class="lead">Complete management system for managing imports.</p>
    <p><a href="http://parewalabs.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Invoice</h2>
        <p>
            You can view consolidated list of products, their quantities and amount.
        </p>
        <p><a class="btn btn-default" href="Invoices">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Export to Excel</h2>
        <p>We know you are most comfortable with excel so everything can be exported to it.</p>
        <p><a class="btn btn-default" href="Invoices/Export">Export Invoices  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Support</h2>
        <p>If you face any problems while using software, feel free to contact us.</p>
        <p><a class="btn btn-default" href="mailto:punit@parewalabs.com">Contact &raquo;</a></p>
    </div>
</div>